<mat-sidenav-container class="dashboard-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav class="sidebar" mode="side" opened>
    <div class="sidebar-logo">
      <img class="logo" src="assets/logo.png" alt="Logo" />
    </div>
    <mat-divider></mat-divider>
    <nav>

      <a mat-list-item routerLink="/dashboard/products" routerLinkActive="active-link">
        <mat-icon>category</mat-icon>
        <span>Toate Produsele</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/dashboard/add-new-product" routerLinkActive="active-link">
        <mat-icon>add</mat-icon>
        <span>Adauga Produs Nou</span>
      </a>



    </nav>

  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
