<div class="auth-container flex-center">
  <img class="logo" src="assets/logo.png" alt="Logo" />

  <div *ngIf="generalMessage.message" class="alert" [ngClass]="generalMessage.type">
    <mat-icon class="alert-icon">
      {{ generalMessage.type === 'success' ? 'check_circle' : 'error' }}
    </mat-icon>
    <span class="alert-message">{{ generalMessage.message }}</span>
  </div>

  <div class="form">
    <button mat-icon-button style="margin: 0 auto;" (click)="navigateToHome()"><mat-icon>arrow_back</mat-icon></button>
    <p>Introduceti noua parola</p>

      <app-custom-input
        label="Parola"
        placeholder="Introduceti Parola"
        type="password"
        [helperText]="errors.password"
        [errorMessage]="errors.password"
        (valueChange)="onFieldChange('password', $event)"
        [required]="true"

      ></app-custom-input>



      <button class="btn btn-primary" (click)="onSubmit()" *ngIf="!isLoading">Trimite</button>
      <mat-spinner diameter="30" *ngIf="isLoading"></mat-spinner>


  </div>
</div>
